<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="./Favicon.png" />
  <title>Open-Meteo</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" href="./theme.css">
</head>
<body>
  <div class="container" id="app">
    <h1>Погода в {{ city == "" ? "вашому місті" : "&laquo " + cityName + " &raquo"}} </h1>
    <div class="form-control">
      <input 
          type="text"
          :placeholder="placeholderString" 
          v-model="city"
          @keyup.enter="getWeather()"
      />
      кількість днів:
      <input 
          type="text"
          v-model="days"
          @keyup.enter="getWeather()"
      />
      <button class="btn" @click="getWeather()">{{ city }} </button>
      <p class="error">{{ error }}</p>
    </div>
    <div id="chartReport">
      <canvas id="myChart" ></canvas>
    </div>
    <hr/>
    <div class="news">
      <div v-for="i  in commits" >
        <p>{{commits.time.updated}}</p>
        <p>{{commits.disclaimer}}</p>
        <h2>{{commits.chartName}}</h2>
        <p>{{commits.bpi.USD.code }} &#36; <span>{{commits.bpi.USD.rate}}</span> {{commits.bpi.USD.description}}</p>
        <p>{{commits.bpi.GBP.code }} &pound; <span>{{commits.bpi.GBP.rate}}</span> {{commits.bpi.GBP.description}}</p>
        <p>{{commits.bpi.EUR.code }} &euro; <span>{{commits.bpi.EUR.rate}}</span> {{commits.bpi.EUR.description}}</p>
      </div>
    </div>

  </div>
  <hr/>
  <!-- Open-Meteo атрибуція -->
  <small><a href="https://open-meteo.com/">Weather data by Open-Meteo.com</a></small>

  <h3>My Google Maps Demo</h3>
  <!--The div element for the map -->
  <div id="map" style="width: 100%;" ></div>

  <!-- prettier-ignore -->
  <script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});
    var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));
    e.set("libraries",[...r]+"");
    for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);
    e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;
    d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";
    m.head.append(a)}));
    d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
      ({key: "AIzaSyBRNzuHGvFx27Q7L5MYVVGFLXGCvgQYG1Y", v: "beta"});
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./app.js"></script>
 
</body>
</html>