/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }

a {
    text-decoration: none;
    color: black;
}

hr {
    margin: 10px 0;
}

body {
    background: #dfebdf;
}
.container {
    width: 80%; 
    margin: 0 auto;
}

h1, .form-control {
    text-align: center;

}

input {
    font-size: 17px;
}

input:nth-child(1) {
    width: 150px;
}

input:nth-child(2) {
    width: 50px;
}

#map {
    height: 500px;
}

.btn {
    margin-left: 10px;
    padding: 0 10px;
    cursor:pointer;
    border: 1px solid #eee; /* Параметры рамки */
    box-shadow: 
      3px 3px 5px rgba(0, 0, 0, 0.5), /* Чёрная тень */
      -3px -3px 5px #fff; /* Белая тень */
      border-radius: 5px;
      transition: 0.3s;
}

.btn:hover {
    scale: 125%;
}

.btn:active {
    scale: 100%;
}
.news {
    margin: 0 auto;
}

.news div {
    text-align: center;
}

.news span {
    color: red;
    font-weight: bold;
}

.news div:nth-child(2),
.news div:nth-child(3),
.news div:nth-child(4) {
    display: none;
}

.row {
    margin: 10px;
}

.panel {
    height: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;
}

.panel:hover {
    cursor: pointer;
    background-color: #dfebdf;
    box-shadow: 0 2px 5px 2px rgba(80,119,242,.3),0 15px 20px 0 rgba(80,119,242,.3);
  }

.flex-grow-0 {
    width: 20%;
    margin-right: 10px;
}

.flex-grow-0 img {
    width: 100%;
}

.flex-grow-1 {
    width: 70%;
}

.flex-grow-1 p:nth-child(1) {
    font-weight: bold;
}

.flex-grow-2 {
    width: 10%;
    font-size: 12px;
    align-self: center;
}

.flex-grow-2 p {
    text-align: end;
}

.flex-grow-2 p:nth-child(2) {
    color: #5077f2;
    text-transform: uppercase;
    font-weight: bold;
}
@media screen and (max-width: 1200px) {
    .container {
        width: 100%; 
    }

    input {
        font-size: 25px;
    }

    .btn {
        font-size: 25px;
    }
}

@media screen and (max-width: 900px) {
    .flex-grow-2 p {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 20px;
    }
    .flex-grow-2 p {
        font-size: 8px;
    }
}